<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Hi <%= @user.name %>\n
  Check HouseHunter portal for reading your new inquiry.
</p>
</body>
</html>