<h1>Editing Real Estate Company</h1>

<%= render 'form',
  real_estate_company: @real_estate_company,
  form_url: real_estate_company_path(@real_estate_company),
  submit_label: 'Update Real Estate Company' %>
