<footer class="footer">
  <small>
    The <a href="https://www.csc2.ncsu.edu/faculty/efg/517/f18/assignments">CSC-517 Project2</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>

    </ul>
  </nav>
</footer>
